.one{
  height:30px;
  width:100%;
}
.two{
  width: 100%;
}
.three{
 text-decoration: none;
 color: black;
}
.four{
  height:20px;
}
.five{
 height:12px;
}
.six{
  height:20px;

}
.seven{
height:30px;
}
.eight{
height:25px;
}
.d-block{
  height:400px;
}
